@import "festival";

@layer components {
  .btn-primary {
    @apply rounded-md bg-dark-primary py-1.5 px-3 text-base font-normal text-white h-[38px];
  }
  .star-item {
    @apply hidden bg-dark-primary lg:flex text-white lg:items-center lg:justify-evenly lg:w-full lg:h-full lg:items-end;
  }
  .ol-list-item {
    @apply flex mb-[5px] before:text-black before:h-fit before:py-1.5 before:px-2.5 before:mr-2.5 before:text-center before:rounded-[100%] before:border-2 before:border-solid before:border-light-primary;
  }
}

@supports (display: grid) {
  @media (min-width: map-get($breakpoints, "large")) {
    .main-home {
      .main-home__star1 {
        grid-area: 1 / 1 / 2 / 3;
      }

      .main-home__star2 {
        grid-area: 1 / 6 / 2 / 8;
      }

      .main-home__date {
        grid-area: 3 / 1 / 6 / 3;
      }

      .main-home__members {
        grid-area: 5 / 5 / 7 / 7;
      }

      .main-home__title {
        grid-area: 1 / 3 / 2 / 6;
      }

      .main-home__subtitle {
        grid-area: 2 / 3 / 3 / 6;
      }

      .main-home__ticket {
        grid-area: 3 / 6 / 6 / 8;
      }

      .main-home__description {
        grid-area: 4 / 3 / 5 / 6;
      }

      .main-home__background {
        grid-area: 1 / 3 / 7 / 6;
      }
    }
  }
}
