@use "../utils" as *;

@import "header";
@import "festival";
@import "footer";

main {
  color: $dark-main-color;
}

h1 {
  color: $dark-main-color;
}

.main-home {
  .main-home__background {
    background-image: url("../images/guitar-poster.jpg?width=800");
  }

  .main-home__subtitle {
    background-color: $bg-light-main-color;
  }

  .main-home__date {
    background-color: $bg-light-main-color;
  }

  .main-home__members {
    background-color: $bg-light-main-color;
    border-color: $dark-main-color;

    button {
      background-color: $dark-main-color;
    }
  }
}

@supports (display: grid) {
  @media (min-width: map-get($breakpoints, "large")) {
    .main-home {
      .main-home__star1 {
        grid-area: 1 / 1 / 2 / 3;
      }

      .main-home__star2 {
        grid-area: 1 / 6 / 2 / 8;
      }

      .main-home__star1,
      .main-home__star2 {
        color: $contrast-color;
        background-color: $dark-main-color;
      }

      .main-home__date {
        grid-area: 3 / 1 / 6 / 3;
      }

      .main-home__members {
        grid-area: 5 / 5 / 7 / 7;
      }

      .main-home__title {
        grid-area: 1 / 3 / 2 / 6;

        h1 {
          color: $contrast-color;
        }
      }

      .main-home__subtitle {
        grid-area: 2 / 3 / 3 / 6;
        background-color: $dark-main-color;

        span {
          color: $contrast-color;
        }
      }

      .main-home__ticket {
        grid-area: 3 / 6 / 6 / 8;
      }

      .main-home__description {
        grid-area: 4 / 3 / 5 / 6;

        span {
          color: $contrast-color;
        }
      }

      .main-home__background {
        grid-area: 1 / 3 / 7 / 6;
        background-color: rgba(0 0 0 / 1);
        background-image: linear-gradient(rgba(0 0 0 / 0.8), rgba(0 0 0 / 0.2)),
          url("../images/guitar-poster.jpg?width=800");
      }
    }
  }
}
