<footer class="w-full sm:py-0 lg:py-0 sm:p-[5%] lg:p-[15%]">
    <div
        class="flex flex-col items-center w-full gap-[15px] py-5 px-0 sm:flex-row sm:justify-between sm:py-10 sm:px-0 border-solid border-t-2 footer-container"
    >
        <div class="footer-container__logo">
            <i class="fa-solid fa-guitar"></i>
            <span>Festival de música</span>
        </div>
        <ul class="flex">
            <li class="px-4 py-2">
                <a href="./index.html">Portada</a>
            </li>
            <li class="px-4 py-2">
                <a href="./festival.html">Festival</a>
            </li>
        </ul>
        <div class="flex items-center gap-[15px] footer-container__links">
            <a class="w-[18px]" href="https://www.google.com" target="_blank">
                <i class="fa-brands fa-google-plus-g"></i>
            </a>
            <a class="w-[18px]" href="https://www.facebook.com" target="_blank">
                <i class="fa-brands fa-facebook-f"></i>
            </a>
            <a class="w-[18px]" href="https://www.twitter.com" target="_blank">
                <i class="fa-brands fa-twitter"></i>
            </a>
        </div>
    </div>
</footer>
