<footer>
    <div class="footer-container">
        <div class="footer-container__logo">
            <i class="fa-solid fa-guitar"></i>
            <span>Festival de música</span>
        </div>
        <ul class="nav justify-content-center">
            <li class="nav-item">
                <a class="nav-link" href="./index.html">Portada</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="./festival.html">Festival</a>
            </li>
        </ul>
        <div class="footer-container__links">
            <a href="https://www.google.com" target="_blank">
                <i class="fa-brands fa-google-plus-g"></i>
            </a>
            <a href="https://www.facebook.com" target="_blank">
                <i class="fa-brands fa-facebook-f"></i>
            </a>
            <a href="https://www.twitter.com" target="_blank">
                <i class="fa-brands fa-twitter"></i>
            </a>
        </div>
    </div>
</footer>
