<header
    class="w-full border-b-light-primary border-b-2 border-solid header-container"
>
    <nav
        class="w-full py-5 px-0 h-20 flex sm:py-0 lg:py-0 sm:p-[5%] lg:p-[15%] bg-white"
    >
        <div class="flex items-center justify-between px-3 w-full">
            <a href="./index.html"
                ><i class="fa-solid fa-guitar text-xl"></i
                ><span class="ms-3 text-xl ml-4">Festival de música</span></a
            >
            <div>
                <ul>
                    <li>
                        <a href="./festival.html">Festival</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
