@use "sass:color";

$main-color: rgb(20 142 148 / 1);
$light-main-color: color.scale($main-color, $lightness: 80%);
$bg-light-main-color: color.scale($main-color, $lightness: 90%);
$dark-main-color: color.scale($main-color, $blackness: 30%);

$contrast-color: rgb(256 256 256 / 1);

$breakpoints: (
  "small": 480px,
  "medium": 650px,
  "large": 1024px,
);
