@use "sass:color";

$main-color: rgb(20 142 148 / 1);
$light-main-color: color.scale($main-color, $lightness: 80%);
$bg-light-main-color: color.scale($main-color, $lightness: 90%);
$dark-main-color: color.scale($main-color, $blackness: 30%);

$contrast-color: rgb(256 256 256 / 1);

$breakpoints: (
  "small": 480px,
  "medium": 650px,
  "large": 1024px,
);

//Bootstrap

$theme-colors: (
  "primary": $dark-main-color,
);

$nav-link-color: $main-color;
$nav-link-hover-color: $dark-main-color;
$navbar-light-color: $main-color;
$navbar-light-hover-color: $dark-main-color;
$nav-link-color: $main-color;
$nav-tabs-link-active-color: $dark-main-color;
